* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    background: white;
    transition: 1s;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode:hover {
    transition: 1s;
}

#theme {
    background-color: black;
    color: white;
    border: 2px solid white;
    display: grid;
    position: relative;
    top: -60px;  
}

h1 {
    text-transform: uppercase;
    transition: 1s;
}

h1:hover{
    text-decoration-line: underline;
    transition: 6s;
}

.counter-preview {
    font-size: 12rem;
    font-weight: bold;
    color: #333;

}

button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 1rem;
}

.decrement {
    background-color: navy;
}

.decrement:hover {
    transition: 1s;
    transform: scale(0.9);
}

.reset {
    background-color: black;
}

.reset:hover {
    transition: 1s;
    transform: scale(1.3);
}

.increment {
    background-color: red;
}

.increment:hover {
    transition: 1s;
    transform: scale(0.9);
}